@import './utils/_variables';
body {
  background-color: lightgrey;
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.container {
  outline: 1px solid tomato;

  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
    max-width: $desktop;
  }
}
.sr-only {
  display: block;
  font-size: 35px;
  font-weight: bold;
  color: darkslategray;
}

.gallery {
  position: relative;
  width: 450px;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
  list-style: none;

  @media screen and (min-width: $desktop) {
    width: 1170px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &_item {
    padding: 0;
    margin: 0;
    width: 350px;
    // height: 350px;
    margin-bottom: 20px;

    @media screen and (max-width: $before-desktop) {
      margin-left: auto;
      margin-right: auto;

      &:last-child {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: $desktop) {
      width: calc((1150 -40) / 3);
      margin-right: 20px;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }
}
.photo-card {
  background-color: white;
  border-radius: 10%;
  border: 1px solid #a3accc;

  @media screen and (min-width: $desktop) {
    transition: transform 250ms $timing-cubic;

    &:hover,
    &:focus {
      transform: scale(1.25);
    }
  }

  img {
    width: 100%;
    padding: 0;
    margin: 0;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }

  .stats {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: DimGray;
  }
}

.load_btn {
  width: 160px;
}
